<!DOCTYPE html>
<html lang="en">
<body>
<div id="header">
    {% block header %}
    <div id="nav">
        {% if user.is_authenticated %}
            welcome {{ user.username }}
             <a href="/mygames/">games</a> |
             (<a href="{% url 'logout' %}?next=/">logout</a>)
        {% else %}
            <a href="/">home</a> |
            <a href="{% url 'login' %}?next={% firstof request.path '/' %}">login</a>
            <a href="/register/">register</a>
        {% endif %}
    </div>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
