<!DOCTYPE html>
<html lang="en">

<head>
    <script data-require="jquery@*" data-semver="2.2.0"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {

      $("#id_favorite").autocomplete({
        source: function(request, response) {
	        var q = request.term
	        $.ajax ({
	          type: 'GET',
	          dataType: 'jsonp',
	          crossDomain: true,
	          jsonp: 'json_callback',
	          url: 'http://www.giantbomb.com/api/search/?format=jsonp&resources=game&api_key=0ae4d991335ede4f253f9b0be52b411098ff9e61&field_list=name&query=' + q ,
	          complete: function() {
	              console.log('done');
	          },
	          success: function(json) {
              console.log(json.results);
              response($.map(json.results, function(item) {
                return {
                  label: item.name,
                  value: item.name
                }
              }));
            }
	        });
        },
        minLength: 5,
        select: function(event, ui) {
          if (ui.item) {}
        }
      });
    });

    </script>
</head>


<body>
<div id="header">
    {% block header %}
    <div id="nav">
        {% if user.is_authenticated %}
        welcome <b> {{ user.username }} </b>
        (<a href="{% url 'logout' %}?next=/">logout</a>)
        {% else %}
        <a href="/">home</a>
        <a href="{% url 'login' %}?next={% firstof request.path '/' %}">login</a>
        <a href="/register/">register</a>
        {% endif %}
    </div>
    <p>
        {% if user.is_authenticated %}
        <a href="/mygames/">games</a>

        <a href="/mygames/platforms">platforms</a>

        <a href="/mygames/regions">regions</a>
        {% endif %}
    </p>
    <div>
        {% if user.is_authenticated %}
        <form method="POST" id="applicationform" name="appform">
            {% csrf_token %}
            favorite game:
            <input type="text" id="id_favorite" class="input-xlarge" name="favorite_game" value=""/> (autocomplete)
            <button type="submit" name="usubmit"> save</button>
        </form>
        {% endif %}
    </div>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    <div style="margin-top: 10px;">
        {% if user.is_anonymous %}
        {{ info }}
        {% endif %}
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>

</html>
