{% extends "base.html" %}
{% block content %}
<h2>
    {{ game.game_name }}
</h2>
<p>
    genre: {{ game.genre }} <br/>
</p>
<p>
    developer: {{ game.developer }} <br/>
</p>
<p>
    publisher: {{ game.publisher }} <br/>
</p>
<p> ratings:
<ul>
    {% for score in G_SCORE %}
    <li>
        {{ score.date }} score: {{ score.rating }}
    </li>


    {% empty %}
    <li>
        No ratings for this game yet, please Rate this game.
    </li>
    {% endfor %}
</ul>
</p>

<h3>SCORE: {{AVG_RATING.rating__avg}}<br/> </h3>

<h3>Rate this game</h3>
<form action="{% url 'mygames:rating_create' game.id %}" method="post">
    {% csrf_token %}
    <p>{% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}"/>
        <label for="choice{{ forloop.counter }}">{{ rate.0 }} /5 </label>
        <br/>{% endfor %}
    </p>
    <input type="submit" value="Rate"/>
</form>

{% endblock %}
{% block footer %}
{% endblock %}
