{% extends "base.html" %}
{% block title %}MyGames - {{ game.game_name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Game">

<h1>
    <span property="name">{{ game.game_name }}</span>
</h1>

<h2>Genre</h2>
    <p>
        <span property="genre">{{ game.genre }}</span>
    </p>

<h2>Developer</h2>
    <p>
        <span property="creator">{{ game.developer }}</span>
    </p>

<h2>Publisher</h2>
    <p>
        <span property="publisher">{{ game.publisher }}</span>
    </p>

<h2>Reviews:</h2>
<span  rel="aggregateRating">
    <p typeof="AggregateRating">
        Average Rating: <span property="ratingValue">{{AVG_RATING.rating__avg}}</span><br/>
        Count: <span property="reviewCount">{{ COUNT_RATING }}</span>
    </p>
</span>

<ul rel="review">
    {% for score in G_SCORE %}
    <li typeof="Review">
        <p>Date: <span property="datePublished">{{ score.date}}</span></p>
        <p rel="reviewRating" typeof="Rating">
            - Score: <span property="ratingValue">{{ score.rating }}</span> star{{ score.rating|pluralize }}
        <p>Created by <span property="author">{{ score.user }}</span></p>

        {% if user == score.user %}
            <button>
                <a href="{% url 'mygames:rating_delete' score.id %}"> Delete </a>
            </button>
        {% endif %}
        {% empty %}
        <p>
            No ratings for this game yet, please Rate this game.
        </p>
    {% endfor %}
        </p>
    </li>
</ul>

</span>

<h3>Add Reviews</h3>
<form action="{% url 'mygames:rating_create' game.id %}" method="post">
    {% csrf_token %}
    <p>
        {% for rate in RATING_CHOICES %}
            <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}"/>
            <label for="choice{{ forloop.counter }}">{{ rate.0 }} /5 </label><br/>
        {% endfor %}
    </p>
    <input type="submit" value="Rate"/>
</form>

{% endblock %}
{% block footer %}
{% endblock %}
